{% if section.settings.enable_countdown %}
  <section id="demo"></section>
{% endif %}

{% schema %}
  {
    "name": "Countdown Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_countdown",
        "default": true,
        "label": "Enable Count Bar"
      }, {
        "type": "text",
        "id": "select_time",
        "default": "12-12-2024 12:00PM",
        "label": "Please add time (MM DD YYYY H:MM:SS)"
      }
    ]
  }
{% endschema %}

<script>
  let x = setInterval(startTimer, 1000, completeTime);
</script>