{% if section.settings.enable_countdown %}

  <h1>hello</h1>
  <section id="demo"></section>
{% endif %}

{% schema %}
  {
    "name": "Countdown Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_countdown",
        "default": true,
        "label": "Enable Count Bar"
      }, {
        "type": "text",
        "id": "select_time",
        "default": "12-12-2024 12:00",
        "label": "Please add time (MM DD YYYY H:MM:SS)"
      }
    ]
  }
{% endschema %}

<script>
  let startCountDown = () => {

    let startTimer = (completeTime) => {

// Get today's date and time
      let now = new Date().getTime();

// let countDownDate = new Date('12 5, 2023 15:37:25').getTime();
      let countDownDate = new Date(`{{section.settings.select_time}}`).getTime();

// Find the distance between now and the count down date
      let distance = countDownDate - now;

// Time calculations for days, hours, minutes and seconds
      let days = Math.floor(distance / (1000 * 60 * 60 * 24));
      let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
      document.getElementById('demo').innerHTML = days + 'd ' + hours + 'h ' + minutes + 'm ' + seconds + 's ';

// If the count down is over, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById('demo').innerHTML = 'EXPIRED';
      }
    };

    setInterval(startTimer, 1000);
  };
  startCountDown();
</script>