{% if section.settings.enable_countdown %}
  <section id="container">
    <h6 class="timer-title">Sale Ends In</h6>
    <div class="timer-cont">
      <div class="days">
        <span class="timer-font inner-days"></span>
        <span class="timer-font  text-day">days</span>
      </div>
      <div class="hour">
        <span class="timer-font inner-hour"></span>
        <span class="timer-font  text-hours">h</span>
      </div>
      <div class="min">
        <span class="timer-font inner-min">20</span>
        <span class="timer-font text-min">min</span>
      </div>
      <div class="sec">
        <span class="timer-font inner-sec">40</span>
        <span class="timer-font text-sec">seconds</span>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Countdown Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_countdown",
        "default": true,
        "label": "Enable Count Bar"
      }, {
        "type": "text",
        "id": "select_time",
        "default": "01-31-2023 16:00",
        "label": "Please add time (MM DD YYYY H:MM:SS)"
      }
    ]
  }
{% endschema %}

<script>
  startCountDown(`{{section.settings.select_time}}`)
</script>